<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>myTodoList4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>206D8CBB1F36BB630052AA71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20FB81771F89FFFB009F6FBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20FB81851F8A0033009F6FBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20FE84EF1F52AA3800DB755F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
